<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Quran Reference - القرآن</title>
  <meta name="description"
    content="Online quran reference text and translations plus browse quran by word, search quran arabic and see word counts" />
  <meta name="keywords" content="Quran Reference Online Arabic Urdu English Translation Search Browse Word Count" />

  <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />

  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">


  {% block extra_head %}{% endblock %}
</head>
<body class="h-100 w-100">
  {% block header %}{% endblock %}

  <div class="content container-fluid vh-100 p-4">
      {% block content %}{% endblock %}
  </div>

  <!-- scripts -->
  <!-- <script src="/static/mdb/js/mdb.es.min.js"></script> -->
  <!-- <script src="/static/nebra-sense.js"></script> -->

  {{ js_asset('js/main.ts') }}
  {{ js_dev_asset('@vite/client') }}

  {% block footerscripts %}
  {% endblock %}
</body>
</html>