body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

@font-face {
  font-family: 'AlQalam';
  src: url('/fonts/AlQalamQuran.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Noori';
  src: url('/fonts/noori.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.ar-num {
  font-family: "Al Qalam Quran", 'AlQalam';
  text-align: right;
  font-size: large;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.ar, .arabic{
  font-family: 'AlQalam';
  text-align: right;
  font-size: 18pt;
}

.ur, .urdu {
  font-family: "Jameel Noori Nastaleeq", Noori;
  text-align: right;
  font-size: 14pt;
}

.en, .english {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 12pt;
}

.num {
  font-family: 'AlQalam';
  font-size:small;
  vertical-align: top;
  text-align: left;

}
